:root {
    --primary: #ffffff;
    --secondary: #848D9B;
    --accent: #90D5FF;
    --primary-rgb: (255, 255, 255);
    --secondary-rgb: (0, 0, 0);
    --accent-rgb: (144, 213, 255);
}

body {
    background-color: var(--primary);
    font-family: Raleway, sans-serif;
}

.navbar {
    background-color: var(--accent)
}

.nav-color {
    color: var(--primary);
}

.nav-color:hover {
    color: var(--secondary);
}

.hero-container {
    height: 75vh;
    background-color: var(--primary);

}

.button-subscribe {
    border-color: var(--primary);
    margin: 3vh;
    padding: 1vh 1vw;
    width: 40%;
    background-color: var(--accent);
    color: var(--primary);
    border-radius: 10px;
}

.button-subscribe:hover {
    border-color: var(--accent);
    margin: 3vh;
    padding: 1vh 1vw;
    width: 40%;
    background-color: var(--primary);
    color: var(--accent);
    border-radius: 10px;
}

.button-close {
    margin-left: 3vh;
    padding: 1vh 1vw;
    width: 30%;
    border-radius: 10px;
    background-color: lightgrey;
    color: var(--primary)
}

.button-close:hover {
    margin-left: 3vh;
    padding: 1vh 1vw;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary);
    color: lightgrey;
}

.carousel {
    border-radius: 15px;
}

p {
    text-align: center;
}

.video {
    height: 100vh;
    background-color: var(--secondary);
}

.center {
    display: grid;
    place-items: center;
}

footer {
    background-color: var(--accent);
    height: 200px;
    margin-top: 50px;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 40px;
    color: var(--secondary);
    padding: 50px;
}